.dock{
    display: flex;
    bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgba(78, 77, 77, 0.353);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;



    .icon {
        width: 3.5rem;
        padding: 0.65rem;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .github , .cli{
        background-color: black;
    }

    .calendar , .mail{
        background: linear-gradient(to bottom ,rgb(98, 160, 252),rgb(49, 130, 244));
    }
    .note{
        background: linear-gradient(to bottom ,rgb(252, 185, 98),rgb(244, 150, 49));
    }
    .pdf{
        background: linear-gradient(to bottom ,rgb(252, 121, 98),rgb(244, 56, 49));
    }
    .spotify{
        background: linear-gradient(to bottom ,rgb(98, 252, 139),rgb(49, 244, 111));
    }
    .calculator{
        
        background: linear-gradient(to bottom ,rgb(237, 233, 233),rgb(232, 225, 225));
    }
    .link{
        background: linear-gradient(to bottom ,rgb(239, 98, 252),rgb(234, 49, 244));
    }
    .clock{
        background: linear-gradient(to bottom ,rgb(78, 77, 77),rgb(26, 26, 26));
    }
    .photo{
        
        background: linear-gradient(to bottom ,rgb(255, 255, 255),rgb(203, 203, 203));
    }

    .icon:hover{
        transform: scale(1.3) translateY(-20%);
    }
    .icon:hover + .icon,
    .icon:has(+.icon:hover){
        transform: scale(1.15) translateY(-10%);
    }
    

}