nav{
    width: 100%;
    color: white;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: rgba(59, 59, 59, 0.237);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .icon-name{
        margin-right: 2rem;
    }

    .left{
        display: flex;  
        gap: 1rem;
    }
    .right{
        width: 14rem;
        display: flex;
        gap: 2rem;
    }

    img{
       height: 1.5rem;
    }
}