.window{
    height:100%;
    background-color: rgb(13, 13, 13);
    border-radius: 1rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: whitesmoke;

    

    .Nav{
        padding-inline: 0.5rem;
        padding-block: 0.75rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        border-bottom: 1px solid rgb(68, 68, 68);

        


        .dots{
           display: flex;
           gap: 0.65rem;
           
        .dot{
            height: 17px;
            width: 17px;
            background-color: white;
            border-radius: 50%;

        

        &.red{
            background-color: rgb(246, 24, 24);
            cursor: pointer;
        }
        &.yellow{
            background-color: rgb(244, 244, 25);
        }
        &.green{
            background-color: rgb(0, 181, 0);
        }
        }   

        }
    }

    .main-content{
        height: 100%;
    }
        *::-webkit-scrollbar{
        width: 8px;
    }
}